<section class="min-h-screen pt-20 mb-20 z-0" id="contact">
  <div class="flex flex-col items-center justify-center">
    <h2 class="text-5xl lg:text-6xl font-extrabold opacity-20 title-effect">
      Contact
    </h2>
    <h3 class="title relative text-2xl lg:text-3xl font-bold">Contact</h3>
  </div>
  <div class="flex flex-col items-center lg:pt-10 pt-4">
    <div class="flex flex-col px-4 lg:px-0 w-full sm:w-3/4 md:w-1/2">
      <label class="mb-1" for="name">Name</label>
      <input
        class="mb-4 border-2 border-mypurple rounded-sm py-1.5 px-3 focus:shadow-sm focus:shadow-mypurple"
        type="text"
        name="fname"
        id="name"
        required
        autocomplete="off"
      />
      <label class="mb-1" for="email">Email</label>
      <input
        class="mb-4 border-2 border-mypurple rounded-sm py-1.5 px-3 focus:shadow-sm focus:shadow-mypurple"
        type="email"
        name="femail"
        id="email"
        required
        autocomplete="off"
      />
      <label class="mb-1" for="message">Message</label>
      <textarea
        class="mb-4 border-2 border-mypurple rounded-sm py-1.5 px-3 focus:shadow-sm focus:shadow-mypurple"
        name="ftextarea"
        id="message"
        cols="30"
        rows="10"
      >
      </textarea>
      <button
        onclick="send_mail()"
        class="btn-submit py-2 px-4 bg-mypurple rounded-md text-white w-min"
        >Submit
      </button>
    </div>
  </div>
</section>

<style>
  .title-effect {
    background-image: linear-gradient(to top, transparent, #0e2431);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title {
    transform: translateY(-15px);
  }
  .title::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 5px;
    border-radius: 2px;
    left: 0;
    bottom: -5px;
    background-color: #6a59d1;
  }
  input:focus,
  textarea:focus {
    outline: #6a59d1;
  }
  .btn-submit:hover {
    background-color: #614fd0;
  }
</style>
