<footer
  class="h-16 md:h-14 bg-mypurple flex text-center items-center justify-center text-white"
>
  <p>
    Made with <i class="fa-solid fa-heart"></i> by Putu Widyantara Artanta Wibawa
  </p>
</footer>
