<section class="min-h-screen pt-20 z-0" id="skills">
  <div class="flex flex-col items-center justify-center">
    <h2 class="text-5xl lg:text-6xl font-extrabold opacity-20 title-effect">
      Skills
    </h2>
    <h3 class=" title relative text-2xl lg:text-3xl font-bold">Skills</h3>
  </div>
  <div class="px-4 lg:px-0 pt-4 py-4">
    <h3 class="text-myblack text-2xl lg:text-3xl font-bold">
      Education & Skills
    </h3>
    <p class="text-base pt-2 text-justify">
      I completed elementary, middle, and high school education in Seririt, a
      small town in Buleleng Regency. During high school, I often participated
      in various competitions and was able to make achievements in the field of
      competitive programming (CP). After graduating from high school, I
      continued my studies at Udayana University.
    </p>
  </div>
  <div class="px-4 lg:px-0 grid edu gap-5">
    <div>
      <h3 class="text-white py-2 px-4 bg-mypurple w-min rounded-md">
        Education
      </h3>
      <ul class="space-y-3 pt-2">
        <li
          class="p-4 border-t-2 border-t-slate-100 shadow-lg border-b-4 border-b-mypurple rounded-md"
        >
          <h3>2009-2015</h3>
          <p>
            <span class="font-semibold"> SD Negeri 1 Seririt</span> - Seririt
          </p>
        </li>
        <li
          class="p-4 border-t-2 border-t-slate-100 shadow-lg border-b-4 border-b-mypurple rounded-md"
        >
          <h3>2015-2018</h3>
          <p>
            <span class="font-semibold"> SMP Negeri 1 Seririt</span> - Seririt
          </p>
        </li>
        <li
          class="p-4 border-t-2 border-t-slate-100 shadow-lg border-b-4 border-b-mypurple rounded-md"
        >
          <h3>2018-2021</h3>
          <p>
            <span class="font-semibold"> SMA Negeri 1 Seririt</span> - Seririt
          </p>
        </li>
        <li
          class="p-4 border-t-2 border-t-slate-100 shadow-lg border-b-4 border-b-mypurple rounded-md"
        >
          <h3>2021-Present</h3>
          <p>
            <span class="font-semibold"> Universitas Udayana</span> - Badung
          </p>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="text-white py-2 px-4 bg-mypurple w-min rounded-md">Skills</h3>
      <ul class="space-y-3 pt-2">
        <li
          class="p-4 border-t-2 border-t-slate-100 shadow-lg border-b-4 border-b-mypurple rounded-md"
        >
          <div class="flex items-center justify-between pb-3">
            <h3>C++</h3>
            <h3>85%</h3>
          </div>
          <div class="w-full bg-slate-300 rounded-lg h-2 relative cpp"></div>
        </li>
        <li
          class="p-4 border-t-2 border-t-slate-100 shadow-lg border-b-4 border-b-mypurple rounded-md"
        >
          <div class="flex items-center justify-between pb-3">
            <h3>C</h3>
            <h3>80%</h3>
          </div>
          <div class="w-full bg-slate-300 rounded-lg h-2 relative clang"></div>
        </li>
        <li
          class="p-4 border-t-2 border-t-slate-100 shadow-lg border-b-4 border-b-mypurple rounded-md"
        >
          <div class="flex items-center justify-between pb-3">
            <h3>Python</h3>
            <h3>75%</h3>
          </div>
          <div class="w-full bg-slate-300 rounded-lg h-2 relative python"></div>
        </li>
        <li
          class="p-4 border-t-2 border-t-slate-100 shadow-lg border-b-4 border-b-mypurple rounded-md"
        >
          <div class="flex items-center justify-between pb-3">
            <h3>HTML</h3>
            <h3>70%</h3>
          </div>
          <div class="w-full bg-slate-300 rounded-lg h-2 relative html"></div>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="text-white py-2 px-4 bg-mypurple w-min rounded-md">Awards</h3>
      <ul class="space-y-3 pt-2">
        <li
          class="space-y-1 p-4 border-t-2 border-t-slate-100 shadow-lg border-b-4 border-b-mypurple rounded-md"
        >
          <h3>July 2022</h3>
          <h5 class="font-semibold">
            <i class="fa-solid fa-medal text-mypurple"></i> 1<sup>st</sup> Place
            Competitive Programming
          </h5>
          <p>
            <i class="text-mypurple fa fa-map-marker"></i> University of Sumatera
            Utara
          </p>
        </li>
        <li
          class="space-y-1 p-4 border-t-2 border-t-slate-100 shadow-lg border-b-4 border-b-mypurple rounded-md"
        >
          <h3>Jan 2020</h3>
          <h5 class="font-semibold">
            <i class="fa-solid fa-medal text-mypurple"></i> 1<sup>st</sup> Place
            Computational Thinking
          </h5>
          <p>
            <i class="text-mypurple fa fa-map-marker"></i> Udayana University
          </p>
        </li>
        <li
          class="space-y-1 p-4 border-t-2 border-t-slate-100 shadow-lg border-b-4 border-b-mypurple rounded-md"
        >
          <h3>Oct 2019</h3>
          <h5 class="font-semibold">
            <i class="fa-solid fa-medal text-mypurple"></i> 1<sup>st</sup> Place
            Information Technology Olympiad
          </h5>
          <p>
            <i class="text-mypurple fa fa-map-marker"></i> Ganesha Education University
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .title-effect {
    background-image: linear-gradient(to top, transparent, #0e2431);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title {
    transform: translateY(-15px);
  }
  .title::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    border-radius: 2px;
    left: 0;
    bottom: -5px;
    background-color: #6a59d1;
  }
  .edu {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .cpp::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 100%;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    background-color: #6a59d1;
  }
  .clang::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    background-color: #6a59d1;
  }
  .python::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 100%;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    background-color: #6a59d1;
  }
  .html::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 100%;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    background-color: #6a59d1;
  }
</style>
